[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group TeamRamirez
	owner = group user/osch88
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group TeamRamirez
	label-Code-Review = -2..+2 group user/osch88
	label-Verified = -1..+1 group TeamRamirez
	label-Verified = -1..+1 group user/osch88
	push = group TeamRamirez
	push = group user/osch88
	read = group TeamRamirez
	read = group user/osch88
	rebase = group TeamRamirez
	rebase = group user/osch88
	removeReviewer = group TeamRamirez
	removeReviewer = group user/osch88
	submit = group TeamRamirez
	submit = group user/osch88
[access "refs/heads/*"]
	create = group TeamRamirez
	create = group user/osch88
	push = group TeamRamirez
	push = +force group user/osch88
	pushMerge = group TeamRamirez
	pushMerge = group user/osch88
	read = group TeamRamirez
	read = group user/osch88
[access "refs/tags/*"]
	push = group TeamRamirez
	push = group user/osch88
	push = +force group user/osch88
